/* Style général de la box */
* {
	box-sizing: border-box;
}

/* Style général du body */
body {
	font-weight: 300;
	line-height: 1.5;
	padding-top: 50px;
	-webkit-font-smoothing: antialiased;
}

/* Style général des ul */
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

/*Style du formulaire d'ajout*/
.addForm {
	margin-top: 10px;
	background-color: rgb(48, 48, 48);
	padding: 30px;
}

/* Taille et marge des containers pour les "stories" */
.drag-container {
	margin: 20px auto;
}

/* Met les listes à la verticale + responsive */
.drag-list {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
}

/* Gère les colonnes */
.drag-column {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	margin: 0 10px;
	position: relative;
	background: rgba(0, 0, 0, 0.2);
	overflow: hidden;
}

/* Titres des colonnes */
.drag-column h2 {
	margin: 0;
	text-transform: uppercase;
	font-weight: 400;
	text-align: center;
}

/* Couleurs des titres des colonnes */
.drag-column-on-hold .drag-column-header, .drag-column-on-hold .drag-options
	{
	background: #01D7FF;
}

.drag-column-in-progress .drag-column-header, .drag-column-in-progress .drag-options
	{
	background: #00FF48;
}

.drag-column-needs-review .drag-column-header, .drag-column-needs-review .drag-options
	{
	background: #F4CE46;
}

/* Forme du header de chaque colonne */
.drag-column-header {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 10px;
}

/* Espace pour déplacer les items */
.drag-inner-list {
	min-height: 50px;
}

/* Permet de prendre les items */
.drag-item {
	border: 1px solid white;
	padding: 5px;
	margin: 10px;
	height: 100px;
	color: white;
	background: rgba(0, 0, 0, 0.4);
	-webkit-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
	transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}