<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="webjars/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="resources/css/dragula.min.css">
		<link rel="stylesheet" type="text/css" href="resources/css/scrumtool.css">
		
		<title>Scrum Tool</title>

	</head>

	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">Scrumtool</a>
				</div>
				<div>
      			<ul class="nav navbar-nav">
        			<li><a href="#">Backlog</a></li>
        			<li><a href="#">Sprint</a></li> 
        			<li><a href="#">Other stuff</a></li> 
      			</ul>
    		</div>
			</div>
		</nav>
		
		<div class="container">

			<div class="jumbotron">
				<h1>Backlog</h1>
				<p>Drag&Drop to change status</p>
			</div>
				
			<div>
				 <button type="button" id="toggleBtn" class="btn btn-default"><span class="glyphicon glyphicon-chevron-right"></span>Add story </button>
			</div>
			
			<div class="addForm" style="display:none;" >
				<div class="row">
					<div class="col-md-4"></div>
					<div class="col-md-4">
						<h3 style="color:white">Add a new story</h3>
							<form action="new-story" method="POST">
								<div class="form-group">
    								#springFormInput("story.titre" "class='form-control' id='title' placeholder='Title'")
 								</div>
								<div class="form-group">
									#springFormTextarea("story.description" "class='form-control' rows='3' id='description' placeholder='Description'")	
								</div>
								<div class="form-group">
										#springFormSingleSelect("story.category" $categories "class='form-control'")
								</div>
								<div class="form-group">
    								<label for="rating" style="color:white">Story Point</label>
									#springFormInput("story.storyPoints" "type='number' class='form-control' min='1' max='10' id='story_points'")
  								</div>
								<br>
								<button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> Submit</button>
					
							</form>
						</div>
						<div class="col-md-4"></div>
					</div>
</div>
			
			<div class="drag-container">
		<ul class="drag-list">
			<li class="drag-column drag-column-on-hold">
				<span class="drag-column-header">
					<h2>Ideas</h2>
				</span>
				<ul class="drag-inner-list" id="story_column_1" data-storycolumnid="1">
					#foreach($story in $IDEA)
						<li class="drag-item" data-storyid="$story.id">
							<span class="drag-title" >$story.titre</span>
							<button type="button" class="close btnSup" id="$story.id" data-dismiss="alert" aria-label="Close"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
							<p>$story.description </br>
							<span class="badge">$story.storyPoints</span></p>
						</li>
					#end
				</ul>
			</li>
			<li class="drag-column drag-column-in-progress">
				<span class="drag-column-header">
					<h2>Approved</h2>
				</span>
				<ul class="drag-inner-list" id="story_column_2" data-storycolumnid="2">
					#foreach($story in $CONFIRMED)
						<li class="drag-item" data-storyid="$story.id">
							<span class="drag-title" >$story.titre</span>
							<button type="button" class="close btnSup" id="$story.id" data-dismiss="alert" aria-label="Close"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
							<p>$story.description </br>
							<span class="badge">$story.storyPoints</span></p>

						</li>
					#end
				</ul>
			</li>
			<li class="drag-column drag-column-needs-review">
				<span class="drag-column-header">
					<h2>Next Sprint</h2>
				</span>
				<ul class="drag-inner-list" id="story_column_3" data-storycolumnid="3">
					#foreach($story in $NEXT_SPRINT)
						<li class="drag-item" data-storyid="$story.id">
							<span class="drag-title" >$story.titre</span>
							<button type="button" class="close btnSup" id="$story.id" data-dismiss="alert" aria-label="Close"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
							<p>$story.description </br>
							<span class="badge">$story.storyPoints</span></p>
						</li>
					#end
				</ul>
			</li>
		</ul>
	</div>
		
	<script type="text/javascript" src="resources/js/jquery.min.js"></script>
	<script type="text/javascript" src="resources/js/dragula.min.js"></script>
	<script type="text/javascript" src="resources/js/ajax.js"></script>
	<script type="text/javascript" src="resources/js/scrumtool.js"></script>

	</body>
</html>
