<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="webjars/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="resources/css/dragula.min.css">
		<link rel="stylesheet" type="text/css" href="resources/css/scrumtool.css">

		
		<title>ScrumTool</title>

	</head>

	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<a id="titleLink" class="navbar-brand">Scrumtool</a>
				</div>
				<div>
      			<ul class="nav navbar-nav">
        			<li><a href="#">Backlog</a></li>
        			<li><a href="sprint">Sprint</a></li> 
      			</ul>
    		</div>
			</div>
		</nav>
		
		<div class="container">

			<div class="jumbotron">
				<h1>Backlog</h1>
				<p></p>
			</div>
		
 
 <div id="add" title="SHIFT+A"><span class="glyphicon glyphicon-plus"></span> Add Story</div>
			<div id="addFormu">
					<h3> ADD STORY </h3>
							<form action="new-story" method="POST">
								<div class="form-group">
    								#springFormInput("story.title" "class='form-control' id='title' placeholder='Title'")
 								</div>
								<div class="form-group">
									#springFormTextarea("story.description" "class='form-control' rows='3' id='description' placeholder='Description'")	
								</div>
								<div class="form-group">
										#springFormSingleSelect("story.category" $categories "class='form-control'")
								</div>
								<div class="form-group">
    								<label for="rating" style="color:#8F8F8F">Story Point</label>
									#springFormSingleSelect("story.storyPoints" $storyPoints "type='number' class='form-control' id='story_points'")
  								</div>
								<br>
								<button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> Submit</button>
					
							</form>
					</div>
		<br>
		
			<div class="drag-container">
		<ul class="drag-list">
			<li class="drag-column drag-column-on-hold">
				<span class="drag-column-header">
					<h2>Ideas</h2>
				</span>
				<ul class="drag-inner-list" id="story_column_1" data-storycolumnid="1">
					#foreach($story in $IDEA)
						<li class="drag-item" data-toggle="modal" data-target="#detailsModal" data-storyid="$story.id">
							<span class="drag-title" >$story.title</span>
							<button type="button" class="close btnSup" id="$story.id" data-dismiss="alert" aria-label="Close"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
							<p><span class="badge">$story.storyPoints</span></p>
						</li>
					#end
				</ul>
			</li>
			<li class="drag-column drag-column-in-progress">
				<span class="drag-column-header">
					<h2>CONFIRMED</h2>
				</span>
				<ul class="drag-inner-list" id="story_column_2" data-storycolumnid="2">
					#foreach($story in $CONFIRMED)
						<li class="drag-item" data-toggle="modal" data-target="#detailsModal" data-storyid="$story.id">
							<span class="drag-title" >$story.title</span>
							<button type="button" class="close btnSup" id="$story.id" data-dismiss="alert" aria-label="Close"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
							<p><span class="badge">$story.storyPoints</span></p>
						</li>
					#end
				</ul>
			</li>
			<li class="drag-column drag-column-needs-review">
				<span class="drag-column-header">
					<h2>Next Sprint</h2>
				</span>
				<ul class="drag-inner-list" id="story_column_3" data-storycolumnid="3">
					#foreach($story in $NEXT_SPRINT)
						<li class="drag-item" data-toggle="modal" data-target="#detailsModal" data-storyid="$story.id">
							<span class="drag-title" >$story.title</span>
							<button type="button" class="close btnSup" id="$story.id" data-dismiss="alert" aria-label="Close"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
							<p><span class="badge">$story.storyPoints</span></p>
						</li>
					#end
				</ul>
			</li>
		</ul>
	</div>

	
  <!-- Modal -->
  <div class="modal fade" id="detailsModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove" /></button>
          <h1 class="modal-title"></h1>
          <p class="modalStatusInfo bg-success text-success">Update successful</p>
          <p class="modalStatusInfo bg-danger text-danger">Update failure</p>
        </div>
        <div class="modal-body">
        <form role="form">
        <div class="form-group">
        	<label for="titleInput">Title</label>
        	<input type ="text" class="form-control" value="titleInput" id="titleInput" ></input>
        </div>
        <div class="form-group">
        	<label for="descriptionInput">Description</label>
        	<input type ="text" class="form-control" value="descriptionInput" id="descriptionInput" ></input>
        </div>
        <div class="form-group">
        	<label for="storypointInput">Story points</label>
        	<input type ="text" class="form-control" value="storypointInput" id="storypointInput" ></input>
        	<input type ="hidden" class="form-control" value="idStoryInput" id="idStoryInput" ></input>
        </div>
       
        </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="editBtn"> <span class="glyphicon glyphicon-pencil"></span> Edit story</button>
          <button type="button" class="btn btn-default" id="closeBtn" data-dismiss="modal">Close</button>
          
          <button type="button" class="btn btn-success" id="saveModifications"> <span class="glyphicon glyphicon-ok"></span> Save Modification</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal" id="cancelBtn" ><span class="glyphicon glyphicon-remove"></span> Cancel</button>
        </div>
      </div>
      
    </div>
  </div>
  
  		<script type="text/javascript" src="resources/js/jquery.min.js"></script>
		<script type="text/javascript" src="resources/js/dragula.min.js"></script>
		<script type="text/javascript" src="resources/js/utility.js"></script>
		<script type="text/javascript" src="resources/js/ajax.js"></script>
		<script type="text/javascript" src="resources/js/scrumtool.js"></script>
		
  		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		
	</body>
</html>
