<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="webjars/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="resources/css/dragula.min.css">
		<link rel="stylesheet" type="text/css" href="resources/css/scrumtool.css">
		
		<title>ScrumTool</title>

	</head>

	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<a id="titleLink" class="navbar-brand">Scrumtool</a>
				</div>
				<div>
      			<ul class="nav navbar-nav">
        			<li><a href="home">Backlog</a></li>
        			<li><a href="#">Sprint</a></li> 	
      			</ul>
      			<ul id="sexyButtonContainer">
        			<li id="sexyButton"><a href="close-sprint"><span class="glyphicon glyphicon-remove-sign"></span> Close sprint</a></li>
      			</ul>
      			
    		</div>
			</div>
		</nav>
		
		<div class="container">

		<div id="detailStory" style="display: none;">
		 <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Story detail</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Tasks</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
    <p><b>Title : </b><span id="storyTitle"></span></p>
    <p><b>Description : </b><span id="storyDescription"></span></p>
    <p><b>Story Point : </b><span id="storyPoint"></span><p>
    </div>
    <div role="tabpanel" class="tab-pane" id="profile">
    
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Task 1
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
		Task 1 Detail
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Task 2
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
		Task 2 Detail
      </div>
    </div>
  </div>
</div>
    
    </div>
  </div>
		
		</div>
			
				<div class="addFormuTask">
					<h3> ADD TASK </h3>
					<form action="new-task" method="POST">
						<div class="form-group">
							#springFormInput("task.title" "class='form-control' id='title' placeholder='Title' autofocus")
						</div>
						<div class="form-group">
							#springFormTextarea("task.description" "class='form-control' rows='3' id='description' placeholder='Description'")	
						</div>
						<br>
						<button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> Submit</button>	
					</form>
				</div>
			
			
			<div class="drag-container">
		<ul class="drag-list">
			<li class="drag-column drag-column-on-hold">
				<span class="drag-column-header">
					<h2>To Do</h2>
				</span>
				<ul class="drag-inner-list" id="story_column_1" data-storycolumnid="4">
					#foreach($story in $TODO_story)
						<li class="drag-item story-card" data-storyid="$story.id" id="storyid$story.id">
							<span class="drag-title" >$story.title</span>
							<button type="button" class="close btnSup" id="story_$story.id" data-dismiss="alert" aria-label="Close"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
							<p><span class="badge">$story.storyPoints</span></p>
							<button type="button" class="btn btn-primary  btn-add-task" data-toggle="modal" data-target="#addTaskModal" data-idstory="$story.id">ADD TASK</button>				
						</li>
					#end
				</ul>
			</li>
			<li class="drag-column drag-column-in-progress">
				<span class="drag-column-header">
					<h2>Doing</h2>
				</span>
				<ul class="drag-inner-list" id="story_column_2" data-storycolumnid="5">
					#foreach($story in $DOING_story)
						<li class="drag-item story-card" data-storyid="$story.id" id="storyid$story.id">
							<span class="drag-title" data-toggle="modal" data-target="#detailsModal">$story.title</span>
							<button type="button" class="close btnSup" id="story_$story.id" data-dismiss="alert" aria-label="Close"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
							<p><span class="badge">$story.storyPoints</span></p>
							<button type="button" class="btn btn-primary  btn-add-task" data-toggle="modal" data-target="#addTaskModal" data-idstory="$story.id">ADD TASK</button>				
						</li>
					#end
				</ul>
			</li>
			<li class="drag-column drag-column-needs-review">
				<span class="drag-column-header">
					<h2>Done</h2>
				</span>
				<ul class="drag-inner-list" id="story_column_3" data-storycolumnid="6">
					#foreach($story in $DONE_story)
						<li class="drag-item story-card" data-storyid="$story.id" id="storyid$story.id">
							<span class="drag-title" data-toggle="modal" data-target="#detailsModal">$story.title</span>
							<button type="button" class="close btnSup" id="story_$story.id" data-dismiss="alert" aria-label="Close"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
							<p><span class="badge">$story.storyPoints</span></p>
						</li>
					#end
				</ul>
			</li>
		</ul>
		
		<hr>
		
		<ul class="drag-list">
			<li class="drag-column drag-column-on-hold">
				<ul class="drag-inner-list" id="task_column_1" data-taskcolumnid="4">
					#foreach($task in $TODO_task)
						<li class="drag-item task-card" data-taskid="$task.id" data-storyid="$task.story.id">
							<span class="drag-title" >$task.title</span>
							<button type="button" class="close btnSupT" id="task_$task.id" data-dismiss="alert" aria-label="Close"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>										
						</li>
					#end
				</ul>
			</li>
			<li class="drag-column drag-column-in-progress">
				<ul class="drag-inner-list" id="task_column_2" data-taskcolumnid="5">
					#foreach($task in $DOING_task)
						<li class="drag-item task-card" data-taskid="$task.id" data-storyid="$task.story.id">
							<span class="drag-title"  data-target="#detailsModal">$task.title</span>
							<button type="button" class="close btnSupT" id="task_$task.id" data-dismiss="alert" aria-label="Close"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
						</li>
					#end
				</ul>
			</li>
			<li class="drag-column drag-column-needs-review">
				<ul class="drag-inner-list" id="task_column_3" data-taskcolumnid="6">
					#foreach($task in $DONE_task)
						<li class="drag-item task-card" data-taskid="$task.id" data-storyid="$task.story.id">
							<span class="drag-title"  data-target="#detailsModal">$task.title</span>
							<button type="button" class="close btnSupT" id="task_$task.id" data-dismiss="alert" aria-label="Close"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
						</li>
					#end
				</ul>
			</li>
		</ul>
	</div>

	
  <!-- Modal -->
  <div class="modal fade" id="detailsModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove" /></button>
          <h1 class="modal-title"></h1>
        </div>
        <div class="modal-body">
        <form role="form">
        <div class="form-group">
        	<label for="titleInput">Title</label>
        	<input type ="text" class="form-control" value="titleInput" id="titleInput" disabled></input>
        </div>
        <div class="form-group">
        	<label for="descriptionInput">Description</label>
        	<input type ="text" class="form-control" value="descriptionInput" id="descriptionInput" disabled></input>
        </div>
        <div class="form-group">
        	<label for="storypointInput">Story points</label>
        	<input type ="number" class="form-control" value="storypointInput" id="storypointInput" disabled></input>
        </div>
        </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="editBtn"> <span class="glyphicon glyphicon-pencil"></span> Edit story</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>

<div class="modal fade" id="addTaskModal" tabindex="" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel"><h3><b>ADD TASK</b></h3></h4>
      </div>
      <div class="modal-body">
        <form role="form" id="addNewTaskForm">
          <div class="form-group">
            <label for="addTask_title" class="control-label">Titre</label>
            <input type="text" class="form-control" id="addTask_title" autofocus></input>
          </div>
          <div class="form-group">
            <label for="addTask_description" class="control-label">Description</label>
            <textarea class="form-control" id="addTask_description"></textarea>
          </div>
          <input type="hidden" class="form-control" id="addTask_idStory">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button form="addNewTaskForm" type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> Submit</button>        
      </div>
    </div>
  </div>
</div>
		
		<script type="text/javascript" src="resources/js/jquery.min.js"></script>
		<script type="text/javascript" src="resources/js/dragula.min.js"></script>
		<script type="text/javascript" src="resources/js/utility.js"></script>
		<script type="text/javascript" src="resources/js/ajax.js"></script>
		<script type="text/javascript" src="resources/js/scrumtool.js"></script>
  		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		

	</body>
</html>
